
  



body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
}

.menu {
    max-width: 1280px;
    margin: 50px auto;
    margin-bottom: 150px;
    
    >ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            a {
                padding: 10px 20px;
                display: block;
                white-space: nowrap;
                text-decoration: none;
                color: black;
                font-size: 18px;
                font-weight: 700;

                &:hover {
                    background: #555;
                    color: white;
                }
            }

            ul {
                position: absolute;
                list-style: none;
                padding: 0;
                margin: 0;
                background: #555;
                display: none;
                width: 200px;
                z-index: 1;
                // margin-top: 10px;
                li {
                    position: relative;
                }
                ul {
                    left: 100%;
                    top: 0;
                }

               
                
            }

            ul.active {
                display: block;
            }
        }


        li.more {
            position: relative;

            &:hover {
                .list {
                    display: block;
                }
            }
            .list {
                position: absolute;
                display: none;
                background: #555;
            }
        }
    }

    ul.direct {
        left:auto;
        right: 100%;

        ul {
            left:auto;
            right: 100%;
        }
    }

    ul.direct-right {
        left: 100% !important;
        right: auto !important;
        ul {
            left: 100%;
            right: auto;
        }
    }
}

.accord {
    width: 1280px;
    margin: 0 auto;
    .title {
       background:#ff8080;
       font-size: 40px;
       font-weight: 700;
       cursor: pointer;
       padding: 10px;
    }

    .desc {
        background: #ff8000; 
        visibility: hidden;
        height: 0;
        transition: 400ms;
        font-size: 0;
    }

    .active {
        visibility: visible;
        height: 200px;
        font-size: 25px;
        padding: 10px;
    }
}

.tabs {
    width: 1280px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    position: relative;
    .tab {
       
        .title {
            padding: 20px 30px;
            background: #c0c0c0;
            font-size: 40px;
            font-weight: 700;
            cursor: pointer;
        }

        .open {
            background: #ff8080;
        }

        .desc {
            visibility: hidden;
            position: absolute;
            left: 0;
            right: 0;
            background: #8080c0;
            padding: 10px;
        }

        .active {
            visibility: visible;

        }
    }
}



.slider {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 100px;
    overflow: hidden;
    position: relative;
    .slider-view {
        display: flex;
    }

    .controls {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 50px;
        div {
            cursor: pointer;
            width: 40px;
            height: 40px;
            background: #808080;
            color: white;
            font-size: 40px;
            font-family: monospace;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 100%;
            }
        }

        .prev {
            transform: rotate(180deg);
        }
    }
}